{% extends 'base.html' %} {% load static %} {% block title %}Índices
Económicos{% endblock %} {% block content %}
<!-- Estilo para la animación de parpadeo de flechas -->
<style>
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .blink {
    animation: blink 1s infinite;
  }

  /* Botón mejorado: Verde y bordeado */
  .submit-button {
    background-color: transparent; /* Sin fondo */
    border: 2px solid #10b981; /* Verde-500 */
    color: #10b981; /* Verde-500 */
    font-weight: 600; /* font-semibold */
    padding: 0.75rem 1.5rem; /* Tailwind py-3 px-6 */
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
    transition: background-color 0.3s, color 0.3s, transform 0.3s,
      border-color 0.3s;
    cursor: pointer;
  }
  .submit-button:hover {
    background-color: #10b981; /* Verde-500 */
    color: white;
    border-color: #059669; /* Verde-600 */
    transform: scale(1.05);
  }

  /* Botón mejorado: Verde y bordeado */
  .submit-button-red {
    background-color: transparent; /* Sin fondo */
    border: 2px solidrgb(246, 5, 5); /* Verde-500 */
    color: rgb(255, 0, 0); /* Verde-500 */
    font-weight: 600; /* font-semibold */
    padding: 0.75rem 1.5rem; /* Tailwind py-3 px-6 */
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px rgb(255, 6, 6); /* shadow-lg */
    transition: background-color 0.3s, color 0.3s, transform 0.3s,
      border-color 0.3s;
    cursor: pointer;
  }
  .submit-button-red:hover {
    background-color: rgb(185, 16, 16); /* Verde-500 */
    color: white;
    border-color: rgb(150, 5, 5); /* Verde-600 */
    transform: scale(1.05);
  }

  /* Botón mejorado: Verde y bordeado */
  .submit-button-blue {
    background-color: transparent; /* Sin fondo */
    border: 2px solidrgb(246, 5, 5); /* Verde-500 */
    color: rgb(64, 158, 253); /* Verde-500 */
    font-weight: 600; /* font-semibold */
    padding: 0.75rem 1.5rem; /* Tailwind py-3 px-6 */
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px rgb(12, 91, 227); /* shadow-lg */
    transition: background-color 0.3s, color 0.3s, transform 0.3s,
      border-color 0.3s;
    cursor: pointer;
  }
  .submit-button-blue:hover {
    background-color: rgb(19, 105, 255); /* Verde-500 */
    color: white;
    border-color: rgb(22, 49, 255); /* Verde-600 */
    transform: scale(1.05);
  }
</style>

<div class="container mx-auto px-4 py-4">
  <!-- Encabezado con la bandera de Costa Rica y el título -->
  <h1 class="text-2xl font-bold text-white mb-4 flex items-center">
    <img
      src="{% static 'img/Bandera_de_costa_rica.png' %}"
      alt="Bandera de Costa Rica"
      style="width: 150px; height: 150px"
      class="mr-2"
    />
    Índices Económicos de Productos de Costa Rica
  </h1>

  <!-- Botones de navegación con separación -->
  <div class="flex flex-wrap gap-4 mb-4">
    <a href="{% url 'listar_lugares_recomendados' %}" class="submit-button-blue">
      Ver lugares recomendados
    </a>
    <a href="{% url 'indice_panama' %}" class="submit-button">Panamá</a>
    <a href="{% url 'indice_nicaragua' %}" class="submit-button">Nicaragua</a>
    <a href="{% url 'indice_guatemala' %}" class="submit-button">Guatemala</a>
    <a href="{% url 'indice_el_salvador' %}" class="submit-button">El Salvador</a>
    <a href="{% url 'indice_honduras' %}" class="submit-button">Honduras</a>
    <a href="{% url 'indice_mexico' %}" class="submit-button">México</a>
  </div>

  <!-- Botón para crear un nuevo índice (solo si el usuario tiene ese correo) -->
  {% if user.email == "enriquecorderob33@gmail.com" %}
  <a
    href="{% url 'crear_indice' %}"
    class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded mb-4 inline-block"
  >
    Crear Índice
  </a>
  {% endif %}

  <!-- Card de publicidad -->
  <div class="flex-1 rounded p-8 text-white">
    <h2 class="text-3xl font-bold mb-6 text-center">Publicidad</h2>
    <!-- Contenedor con altura fija -->
    <div
      class="w-full h-[500px] overflow-hidden rounded-lg mb-6 flex items-center justify-center"
    >
      <div class="flex gap-4 items-center justify-center w-full h-full">
        <!-- Ajusta el ancho de la imagen con w-[70%] -->
        <img
          src="{% static 'img/anuncio_abono.png' %}"
          alt="Publicidad 1"
          class="w-[85%] h-full object-cover object-center"
        />
      </div>
    </div>
    <p class="text-xl text-center mb-6">¡Promociona tu marca aquí!</p>
    <div class="flex justify-center">
      <a
        href="#"
        class="text-blue-400 underline text-xl hover:text-blue-300 transition-colors"
      >
        Más información
      </a>
    </div>
  </div>

  <!-- SECCIÓN: Carnes -->
  <h2 class="text-xl font-bold text-white mb-2">Carnes</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
    {% for indice in indices_carnes %}
    <div class="bg-gray-800 border border-gray-700 rounded p-4 text-white">
      <!-- Encabezado: Nombre, Subcategoría y Fecha -->
      <div class="flex items-center justify-between mb-2">
        <span class="font-bold text-lg uppercase">
          {{ indice.nombre }} ({{ indice.sub_categoria|title }})
        </span>
        <span class="text-sm">{{ indice.fecha }}</span>
      </div>

      <!-- Flecha parpadeante según "sube" -->
      <div class="flex items-center mb-2">
        {% if indice.sube == 'sube' %}
        <span
          class="blink text-green-500 text-4xl"
          style="filter: brightness(1.5)"
          >↑</span
        >
        {% else %}
        <span
          class="blink text-red-500 text-4xl"
          style="filter: brightness(1.5)"
          >↓</span
        >
        {% endif %}
      </div>

      <!-- Campos: Antes, Sube/Baja, Total, Precio, Fuente -->
      <div class="text-base text-gray-300 mb-1">
        Antes: {{ indice.antes }} colones<br />
        {% if indice.sube == 'sube' %}
        <span class="text-green-500 font-bold">Sube</span><br />
        {% else %}
        <span class="text-red-500 font-bold">Baja</span><br />
        {% endif %} Total (Baja o Sube): {{ indice.total }} colones<br />
        Precio Actual: {{ indice.precio_actual }} colones<br />

        {% if indice.fuente %}
        <span class="text-sm text-green-400">
          Fuente: {{ indice.fuente }}
        </span>
        {% endif %}
      </div>

      <!-- Inflación -->
      <div class="text-base text-yellow-400 mb-2">
        Porcentaje de Inflación: {{ indice.inflacion }}%
      </div>

      <!-- Imagen (si existe) -->
      {% if indice.image %}
      <img
        src="{{ indice.image.url }}"
        alt="{{ indice.sub_categoria }}"
        class="w-30 h-30 rounded"
      />
      {% else %}
      <img
        src="{% static 'images/product_placeholder.png' %}"
        alt="{{ indice.sub_categoria }}"
        class="w-16 h-16 rounded"
      />
      {% endif %}

      <!-- Botón Editar (solo si el usuario tiene el correo) -->
      {% if user.email == "enriquecorderob33@gmail.com" %}
      <div class="mt-2">
        <!-- Enlace al view "editar_indice" con pk -->
        <a
          href="{% url 'editar_indice' indice.pk %}"
          class="bg-blue-700 hover:bg-blue-800 text-white px-3 py-1 rounded"
        >
          Editar
        </a>
      </div>
      {% endif %}
    </div>
    {% empty %}
    <p class="text-white">No hay índices para Carnes.</p>
    {% endfor %}
  </div>
  <!-- Card de publicidad -->
  <div class="flex-1 rounded p-8 text-white">
    <h2 class="text-3xl font-bold mb-6 text-center">Publicidad</h2>
    <!-- Contenedor con altura fija -->
    <div
      class="w-full h-[500px] overflow-hidden rounded-lg mb-6 flex items-center justify-center"
    >
      <div class="flex gap-4 items-center justify-center w-full h-full">
        <!-- Ajusta el ancho de la imagen con w-[70%] -->
        <img
          src="{% static 'img/anuncio_abono.png' %}"
          alt="Publicidad 1"
          class="w-[85%] h-full object-cover object-center"
        />
      </div>
    </div>
    <p class="text-xl text-center mb-6">¡Promociona tu marca aquí!</p>
    <div class="flex justify-center">
      <a
        href="#"
        class="text-blue-400 underline text-xl hover:text-blue-300 transition-colors"
      >
        Más información
      </a>
    </div>
  </div>
  <!-- Repite la MISMA LÓGICA (incluyendo el botón "Editar") para Granos, Vegetales, Frutas y Lácteos. -->
  <!-- SECCIÓN: Granos -->
  <h2 class="text-xl font-bold text-white mt-8 mb-2">Granos</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
    {% for indice in indices_granos %}
    <div class="bg-gray-800 border border-gray-700 rounded p-4 text-white">
      <div class="flex items-center justify-between mb-2">
        <span class="font-bold text-lg uppercase">
          {{ indice.nombre }} ({{ indice.sub_categoria|title }})
        </span>
        <span class="text-sm">{{ indice.fecha }}</span>
      </div>

      <div class="flex items-center mb-2">
        {% if indice.sube == 'sube' %}
        <span
          class="blink text-green-500 text-4xl"
          style="filter: brightness(1.5)"
          >↑</span
        >
        {% else %}
        <span
          class="blink text-red-500 text-4xl"
          style="filter: brightness(1.5)"
          >↓</span
        >
        {% endif %}
      </div>

      <div class="text-base text-gray-300 mb-1">
        Antes: {{ indice.antes }} colones<br />
        {% if indice.sube == 'sube' %}
        <span class="text-green-500 font-bold">Sube</span><br />
        {% else %}
        <span class="text-red-500 font-bold">Baja</span><br />
        {% endif %} Total (Baja o Sube): {{ indice.total }} colones<br />
        Precio Actual: {{ indice.precio_actual }} colones<br />

        {% if indice.fuente %}
        <span class="text-sm text-green-400">
          Fuente: {{ indice.fuente }}
        </span>
        {% endif %}
      </div>

      <div class="text-base text-yellow-400 mb-2">
        Porcentaje de Inflación: {{ indice.inflacion }}%
      </div>

      {% if indice.image %}
      <img
        src="{{ indice.image.url }}"
        alt="{{ indice.sub_categoria }}"
        class="w-30 h-30 rounded"
      />
      {% else %}
      <img
        src="{% static 'images/product_placeholder.png' %}"
        alt="{{ indice.sub_categoria }}"
        class="w-16 h-16 rounded"
      />
      {% endif %} {% if user.email == "enriquecorderob33@gmail.com" %}
      <div class="mt-2">
        <a
          href="{% url 'editar_indice' indice.pk %}"
          class="bg-blue-700 hover:bg-blue-800 text-white px-3 py-1 rounded"
        >
          Editar
        </a>
      </div>
      {% endif %}
    </div>
    {% empty %}
    <p class="text-white">No hay índices para Granos.</p>
    {% endfor %}
  </div>
  <!-- Card de publicidad -->
  <div class="flex-1 rounded p-8 text-white">
    <h2 class="text-3xl font-bold mb-6 text-center">Publicidad</h2>
    <!-- Contenedor con altura fija -->
    <div
      class="w-full h-[500px] overflow-hidden rounded-lg mb-6 flex items-center justify-center"
    >
      <div class="flex gap-4 items-center justify-center w-full h-full">
        <!-- Ajusta el ancho de la imagen con w-[70%] -->
        <img
          src="{% static 'img/anuncio_abono.png' %}"
          alt="Publicidad 1"
          class="w-[85%] h-full object-cover object-center"
        />
      </div>
    </div>
    <p class="text-xl text-center mb-6">¡Promociona tu marca aquí!</p>
    <div class="flex justify-center">
      <a
        href="#"
        class="text-blue-400 underline text-xl hover:text-blue-300 transition-colors"
      >
        Más información
      </a>
    </div>
  </div>
  <!-- Vegetales -->
  <h2 class="text-xl font-bold text-white mt-8 mb-2">Vegetales</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
    {% for indice in indices_vegetales %}
    <div class="bg-gray-800 border border-gray-700 rounded p-4 text-white">
      <div class="flex items-center justify-between mb-2">
        <span class="font-bold text-lg uppercase">
          {{ indice.nombre }} ({{ indice.sub_categoria|title }})
        </span>
        <span class="text-sm">{{ indice.fecha }}</span>
      </div>

      <div class="flex items-center mb-2">
        {% if indice.sube == 'sube' %}
        <span
          class="blink text-green-500 text-4xl"
          style="filter: brightness(1.5)"
          >↑</span
        >
        {% else %}
        <span
          class="blink text-red-500 text-4xl"
          style="filter: brightness(1.5)"
          >↓</span
        >
        {% endif %}
      </div>

      <div class="text-base text-gray-300 mb-1">
        Antes: {{ indice.antes }} colones<br />
        {% if indice.sube == 'sube' %}
        <span class="text-green-500 font-bold">Sube</span><br />
        {% else %}
        <span class="text-red-500 font-bold">Baja</span><br />
        {% endif %} Total (Baja o Sube): {{ indice.total }} colones<br />
        Precio Actual: {{ indice.precio_actual }} colones<br />

        {% if indice.fuente %}
        <span class="text-ls text-green-400">
          Fuente: {{ indice.fuente }}
        </span>
        {% endif %}
      </div>

      <div class="text-base text-yellow-400 mb-2">
        Porcentaje de Inflación: {{ indice.inflacion }}%
      </div>

      {% if indice.image %}
      <img
        src="{{ indice.image.url }}"
        alt="{{ indice.sub_categoria }}"
        class="w-30 h-30 rounded"
      />
      {% else %}
      <img
        src="{% static 'images/product_placeholder.png' %}"
        alt="{{ indice.sub_categoria }}"
        class="w-16 h-16 rounded"
      />
      {% endif %} {% if user.email == "enriquecorderob33@gmail.com" %}
      <div class="mt-2">
        <a
          href="{% url 'editar_indice' indice.pk %}"
          class="bg-blue-700 hover:bg-blue-800 text-white px-3 py-1 rounded"
        >
          Editar
        </a>
      </div>
      {% endif %}
    </div>
    {% empty %}
    <p class="text-white">No hay índices para Vegetales.</p>
    {% endfor %}
  </div>
  <!-- Card de publicidad -->
  <div class="flex-1 rounded p-8 text-white">
    <h2 class="text-3xl font-bold mb-6 text-center">Publicidad</h2>
    <!-- Contenedor con altura fija -->
    <div
      class="w-full h-[500px] overflow-hidden rounded-lg mb-6 flex items-center justify-center"
    >
      <div class="flex gap-4 items-center justify-center w-full h-full">
        <!-- Ajusta el ancho de la imagen con w-[70%] -->
        <img
          src="{% static 'img/anuncio_abono.png' %}"
          alt="Publicidad 1"
          class="w-[85%] h-full object-cover object-center"
        />
      </div>
    </div>
    <p class="text-xl text-center mb-6">¡Promociona tu marca aquí!</p>
    <div class="flex justify-center">
      <a
        href="#"
        class="text-blue-400 underline text-xl hover:text-blue-300 transition-colors"
      >
        Más información
      </a>
    </div>
  </div>
  <!-- Frutas -->
  <h2 class="text-xl font-bold text-white mt-8 mb-2">Frutas</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
    {% for indice in indices_frutas %}
    <div class="bg-gray-800 border border-gray-700 rounded p-4 text-white">
      <div class="flex items-center justify-between mb-2">
        <span class="font-bold text-lg uppercase">
          {{ indice.nombre }} ({{ indice.sub_categoria|title }})
        </span>
        <span class="text-sm">{{ indice.fecha }}</span>
      </div>

      <div class="flex items-center mb-2">
        {% if indice.sube == 'sube' %}
        <span
          class="blink text-green-500 text-4xl"
          style="filter: brightness(1.5)"
          >↑</span
        >
        {% else %}
        <span
          class="blink text-red-500 text-4xl"
          style="filter: brightness(1.5)"
          >↓</span
        >
        {% endif %}
      </div>

      <div class="text-base text-gray-300 mb-1">
        Antes: {{ indice.antes }} colones<br />
        {% if indice.sube == 'sube' %}
        <span class="text-green-500 font-bold">Sube</span><br />
        {% else %}
        <span class="text-red-500 font-bold">Baja</span><br />
        {% endif %} Total (Baja o Sube): {{ indice.total }} colones<br />
        Precio Actual: {{ indice.precio_actual }} colones<br />

        {% if indice.fuente %}
        <span class="text-sm text-green-400">
          Fuente: {{ indice.fuente }}
        </span>
        {% endif %}
      </div>

      <div class="text-base text-yellow-400 mb-2">
        Porcentaje de Inflación: {{ indice.inflacion }}%
      </div>

      {% if indice.image %}
      <img
        src="{{ indice.image.url }}"
        alt="{{ indice.sub_categoria }}"
        class="w-30 h-30 rounded"
      />
      {% else %}
      <img
        src="{% static 'images/product_placeholder.png' %}"
        alt="{{ indice.sub_categoria }}"
        class="w-16 h-16 rounded"
      />
      {% endif %} {% if user.email == "enriquecorderob33@gmail.com" %}
      <div class="mt-2">
        <a
          href="{% url 'editar_indice' indice.pk %}"
          class="bg-blue-700 hover:bg-blue-800 text-white px-3 py-1 rounded"
        >
          Editar
        </a>
      </div>
      {% endif %}
    </div>
    {% empty %}
    <p class="text-white">No hay índices para Frutas.</p>
    {% endfor %}
  </div>
  <!-- Card de publicidad -->
  <div class="flex-1 rounded p-8 text-white">
    <h2 class="text-3xl font-bold mb-6 text-center">Publicidad</h2>
    <!-- Contenedor con altura fija -->
    <div
      class="w-full h-[500px] overflow-hidden rounded-lg mb-6 flex items-center justify-center"
    >
      <div class="flex gap-4 items-center justify-center w-full h-full">
        <!-- Ajusta el ancho de la imagen con w-[70%] -->
        <img
          src="{% static 'img/anuncio_abono.png' %}"
          alt="Publicidad 1"
          class="w-[85%] h-full object-cover object-center"
        />
      </div>
    </div>
    <p class="text-xl text-center mb-6">¡Promociona tu marca aquí!</p>
    <div class="flex justify-center">
      <a
        href="#"
        class="text-blue-400 underline text-xl hover:text-blue-300 transition-colors"
      >
        Más información
      </a>
    </div>
  </div>
  <!-- Lácteos -->
  <h2 class="text-xl font-bold text-white mt-8 mb-2">Lácteos</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
    {% for indice in indices_lacteos %}
    <div class="bg-gray-800 border border-gray-700 rounded p-4 text-white">
      <div class="flex items-center justify-between mb-2">
        <span class="font-bold text-lg uppercase">
          {{ indice.nombre }} ({{ indice.sub_categoria|title }})
        </span>
        <span class="text-sm">{{ indice.fecha }}</span>
      </div>

      <div class="flex items-center mb-2">
        {% if indice.sube == 'sube' %}
        <span
          class="blink text-green-500 text-4xl"
          style="filter: brightness(1.5)"
          >↑</span
        >
        {% else %}
        <span
          class="blink text-red-500 text-4xl"
          style="filter: brightness(1.5)"
          >↓</span
        >
        {% endif %}
      </div>

      <div class="text-base text-gray-300 mb-1">
        Antes: {{ indice.antes }} colones<br />
        {% if indice.sube == 'sube' %}
        <span class="text-green-500 font-bold">Sube</span><br />
        {% else %}
        <span class="text-red-500 font-bold">Baja</span><br />
        {% endif %} Total (Baja o Sube): {{ indice.total }} colones<br />
        Precio Actual: {{ indice.precio_actual }} colones<br />

        {% if indice.fuente %}
        <span class="text-sm text-green-400">
          Fuente: {{ indice.fuente }}
        </span>
        {% endif %}
      </div>

      <div class="text-base text-yellow-400 mb-2">
        Porcentaje de Inflación: {{ indice.inflacion }}%
      </div>

      {% if indice.image %}
      <img
        src="{{ indice.image.url }}"
        alt="{{ indice.sub_categoria }}"
        class="w-30 h-30 rounded"
      />
      {% else %}
      <img
        src="{% static 'images/product_placeholder.png' %}"
        alt="{{ indice.sub_categoria }}"
        class="w-16 h-16 rounded"
      />
      {% endif %} {% if user.email == "enriquecorderob33@gmail.com" %}
      <div class="mt-2">
        <a
          href="{% url 'editar_indice' indice.pk %}"
          class="bg-blue-700 hover:bg-blue-800 text-white px-3 py-1 rounded"
        >
          Editar
        </a>
      </div>
      {% endif %}
    </div>
    {% empty %}
    <p class="text-white">No hay índices para Lácteos.</p>
    {% endfor %}
  </div>
  <!-- Card de publicidad -->
  <div class="flex-1 rounded p-8 text-white">
    <h2 class="text-3xl font-bold mb-6 text-center">Publicidad</h2>
    <!-- Contenedor con altura fija -->
    <div
      class="w-full h-[500px] overflow-hidden rounded-lg mb-6 flex items-center justify-center"
    >
      <div class="flex gap-4 items-center justify-center w-full h-full">
        <!-- Ajusta el ancho de la imagen con w-[70%] -->
        <img
          src="{% static 'img/anuncio_abono.png' %}"
          alt="Publicidad 1"
          class="w-[85%] h-full object-cover object-center"
        />
      </div>
    </div>
    <p class="text-xl text-center mb-6">¡Promociona tu marca aquí!</p>
    <div class="flex justify-center">
      <a
        href="#"
        class="text-blue-400 underline text-xl hover:text-blue-300 transition-colors"
      >
        Más información
      </a>
    </div>
  </div>
</div>
{% endblock %}
