{% extends 'base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Grupos</h1>
<a href="{% url 'crear_grupo' %}" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded mb-4 inline-block">
    Crear Nuevo Grupo
</a>
<ul class="space-y-4">
    {% for grupo in grupos %}
    <li class="p-4 bg-white text-black rounded shadow">
        <h2 class="text-lg font-bold">{{ grupo.nombre }}</h2>
        <p class="text-sm">{{ grupo.descripcion }}</p>
        <a href="{% url 'detalle_grupo' grupo.id %}" class="text-blue-600 hover:underline">Ver Grupo</a>
    </li>
    {% empty %}
    <p>No hay grupos disponibles.</p>
    {% endfor %}
</ul>
{% endblock %}
